# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Excluded by User Request
media/
pdd_tracking_system/
MySQLbackup/
logs/
_gsdata_/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Backups and Data
*.sql
*.json
*.xlsx
*.backtol
test_results.txt
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
